﻿@*@model PRN211_M4_MVC.Models.User*@

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
         @*       <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>*@
                <input type="text" name="UserName" class="form-control" />
            </div>
            <div class="form-group">
        @*        <label asp-for="Password" class="control-label"></label>
                <input type="password"  asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>*@
                <input type="password" name="Password" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
