﻿@model PRN211_M4_MVC.Models.Album

@{
    ViewData["Title"] = "Create";
}

    <h1>Create</h1>

    <h4>Album</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="GenreId" class="control-label"></label>
                    <select asp-for="GenreId" class ="form-control" asp-items="ViewBag.GenreId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="ArtistId" class="control-label"></label>
                    <select asp-for="ArtistId" class ="form-control" asp-items="ViewBag.ArtistId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                 @*   <label asp-for="AlbumUrl" class="control-label"></label>
                    <input asp-for="AlbumUrl" class="form-control" />
                    <span asp-validation-for="AlbumUrl" class="text-danger"></span>*@
                    <input type="file" name="file" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
